*.exe
*.log
*.dat
*.bin
*.md
*.env
*node_modules
classroom-backend/drizzle

# Logs

classroom-backend/logs
classroom-frontend/logs
classroom-backend/_.log
classroom-frontend/_.log
*npm-debug.log_
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

*dist
*dist-ssr
*.local

# Environment variables
*.env.local

# Editor directories and files

.vscode/_
!.vscode/extensions.json
classroom-frontend/.idea
classroom-frontend/.DS_Store
classroom-frontend/_.suo
classroom-frontend/_.ntvs_
classroom-frontend/_.njsproj
classroom-frontend/_.sln
classroom-frontend/\*.sw?
classroom-backend/.idea
classroom-backend/.DS_Store
classroom-backend/_.suo
classroom-backend/_.ntvs_
classroom-backend/_.njsproj
classroom-backend/_.sln
classroom-backend/\*.sw?
